@import '../../../enservio-design-system/src/css/master';


//MIXINS
@mixin animation-delay($delay: 1s) {
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
};


// MASTER ADJUSTMENTS
body {
  justify-content: flex-start;
  animation: none;
}

main {padding: 2rem 0;}

// .button span.pre i.la, .button span.post i.la {top: 0.175rem;}

span.error-message {
  min-height: 1rem;
  font-size: 0.694rem;
}

.logo {
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
  @include animation-delay(0.5s);
}


// ANIMATION DURATION SETTING
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}


// LOADING SCREEN
.bg-color-one {background-color: $color-one;}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
}

.loading-screen .logo {max-width: 18rem;}

.loading-screen .logo svg:first-of-type {padding: 0 0 1rem;}

.loading-screen footer {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
  color: $white;
  @include animation-delay(1s);
}

.loading-screen footer a {color: $white;}

.loading-screen footer a:hover,
.loading-screen footer a:focus {color: $color-two;}


// GREETING
.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 0 1rem;
}

.greeting .large-avatar img {
  width: 8rem;
  border-radius: 100%;
}

.greeting p {
  font-weight: 500;
  text-align: center;
}


// GREETING DELAYS
.greeting .large-avatar {@include animation-delay(4.25s);}
.greeting .name {@include animation-delay(4.5s);}


// CHAT
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem 0;
}

.chat ul {
  padding: 0;
  list-style-type: none;
}

.chat ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.chat ul li .small-avatar {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
}

.chat ul li .small-avatar img {border-radius: 100%;}

.chat ul li .bubble {
  display: block;
  width: 90%;
  padding: 1rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0;
  background-color: $off-white;
}

.chat ul li .bubble p {padding: 0 0 0.833rem;}

.chat ul li .bubble p:last-of-type {padding: 0;}

.chat ul li:nth-of-type(1n) {@include animation-delay(0.5s);}
.chat ul li:nth-of-type(2n) {@include animation-delay(1.25s);}
.chat ul li:nth-of-type(3n) {@include animation-delay(2s);}
.chat ul li:nth-of-type(4n) {@include animation-delay(2.75s);}
.chat ul li:nth-of-type(5n) {@include animation-delay(3.5s);}
.chat ul li:nth-of-type(6n) {@include animation-delay(4.25s);}


// QUESTIONS
.questions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
}

.questions form {
  margin: 0;
  padding: 0 2rem 0 1rem;
}

.questions form h1 {
  padding: 0 0 0.694rem 1rem;
  font-size: 1.44rem;
}

.questions form .field {padding: 0 0 0 1rem;}

.questions form .button-box {
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.questions form .button-box .button {margin: 1rem 0.5rem 0;}

.questions form h1 {@include animation-delay(0.25s);}
.questions form fieldset:nth-of-type(1n) {@include animation-delay(0.5s);}
.questions form fieldset:nth-of-type(2n) {@include animation-delay(0.75s);}
.questions form fieldset:nth-of-type(3n) {@include animation-delay(1s);}
.questions form fieldset:nth-of-type(4n) {@include animation-delay(1.25s);}
.questions form fieldset:nth-of-type(5n) {@include animation-delay(1.5s);}
.questions form fieldset:nth-of-type(6n) {@include animation-delay(1.75s);}
.questions form fieldset:nth-of-type(7n) {@include animation-delay(2s);}


// START PAGE DELAYS
#start ul li:nth-of-type(1n) {@include animation-delay(5.5s);}
#start ul li:nth-of-type(2n) {@include animation-delay(6.5s);}
#start #next {@include animation-delay(6.75s);}


// LOSS SETUP DELAYS
#loss-setup.questions form .small fieldset:nth-of-type(1n) {@include animation-delay(1.25s);}
#loss-setup.questions form .small fieldset:nth-of-type(2n) {@include animation-delay(1.5s);}
#loss-setup.questions form fieldset:nth-of-type(4n) {@include animation-delay(1.75s);}
#loss-setup.questions form fieldset:nth-of-type(5n) {@include animation-delay(2s);}
#loss-setup #next {@include animation-delay(2.25s);}


// ROOM SETUP LAYOUT AND DELAYS
#room-setup .questions form {
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
}

#room-setup .questions form fieldset {width: 50%;}

#room-setup .questions form h1 {@include animation-delay(1.5s);}
#room-setup .questions form fieldset:nth-of-type(1n) {@include animation-delay(1.75s);}
#room-setup .questions form fieldset:nth-of-type(2n) {@include animation-delay(2s);}
#room-setup .questions form fieldset:nth-of-type(3n) {@include animation-delay(2.25s);}
#room-setup .questions form fieldset:nth-of-type(4n) {@include animation-delay(2.5s);}
#room-setup .questions form fieldset:nth-of-type(5n) {@include animation-delay(2.75s);}
#room-setup .questions form fieldset:nth-of-type(6n) {@include animation-delay(3s);}
#room-setup #prev {@include animation-delay(3.25s);}
#room-setup #next {@include animation-delay(3.5s);}


// PRODUCT SETUP LAYOUT AND DELAYS
#product-setup .questions form {
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
}

#product-setup .questions form fieldset {width: 50%;}

#product-setup .questions form h1 {@include animation-delay(1.5s);}
#product-setup .questions form fieldset:nth-of-type(1n) {@include animation-delay(1.75s);}
#product-setup .questions form fieldset:nth-of-type(2n) {@include animation-delay(2s);}
#product-setup .questions form fieldset:nth-of-type(3n) {@include animation-delay(2.25s);}
#product-setup .questions form fieldset:nth-of-type(4n) {@include animation-delay(2.5s);}
#product-setup .questions form fieldset:nth-of-type(5n) {@include animation-delay(2.75s);}
#product-setup .questions form fieldset:nth-of-type(6n) {@include animation-delay(3s);}
#product-setup #prev {@include animation-delay(3.25s);}
#product-setup #next {@include animation-delay(3.5s);}
