@import '../../../enservio-design-system/src/css/master';


//MIXINS
@mixin animation-delay($delay: 1s) {
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
};


// COLOR APPLICATION
.bg-color-one {background-color: $color-one;}


// FOOTER
footer {
  flex-direction: column;
  justify-content: center;
  width: initial;
  line-height: 1.5;
  @include animation-delay(4s);
}


// BUTTON BOX ADJUSTMENT
.button-box {padding: 1rem 0 0;}


// ERROR MESSAGE ADJUSTMENT
span.error-message {
  min-height: 1rem;
  font-size: 0.694rem;
}


// LOGO
.logo {
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
  @include animation-delay(0.5s);
}


// LOADING SCREEN
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
}

.loading-screen .logo {
  max-width: 18rem;
  margin-bottom: 4rem;
}

.loading-screen .logo svg:first-of-type {padding: 0 0 1rem;}

.loading-screen footer.reverse {
  position: absolute;
  bottom: 0;
}

.loading-screen footer.reverse {
  justify-content: center;
  color: $white;
  @include animation-delay(1s);
}

.loading-screen footer.reverse {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.loading-screen footer.reverse a {color: $white;}

.loading-screen footer.reverse a:hover,
.loading-screen footer.reverse a:focus {color: $color-two;}


// GUIDE
.guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.guide .large-avatar img {
  width: 8rem;
  border-radius: 100%;
}

.guide p {
  font-weight: 500;
  text-align: center;
}


// CHAT
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem 0;
}

.chat ul {
  padding: 0;
  list-style-type: none;
}

.chat ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.chat ul li .small-avatar {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
}

.chat ul li .small-avatar img {border-radius: 100%;}

.chat ul li .bubble {
  display: block;
  width: 90%;
  padding: 1rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0;
  background-color: $off-white;
}

.chat ul li .bubble p {padding: 0 0 0.833rem;}

.chat ul li .bubble p:last-of-type {padding: 0;}


// QUESTIONS
.questions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
}

.questions form {
  margin: 0;
  padding: 0 1rem 0 0;
}

.questions form h1 {
  padding: 0 0 0 1rem;
  font-size: 1.44rem;
}

.questions form .field {padding: 0 0 0 1rem;}

.questions form .button-box {padding: 0;}


// START ANIMATIONS
header.start .logo {@include animation-delay(4.25s);}
.guide.fadeInUp {@include animation-delay(4.5s);}
#start.chat ul li:nth-of-type(1n) {@include animation-delay(5s);}
#start.chat ul li:nth-of-type(2n) {@include animation-delay(6s);}
#start.chat .button-box.ready {@include animation-delay(8s);}


// LOSS INFORMATION ANIMATIONS
header .logo {@include animation-delay(0.25s);}
#loss-information .questions form h1 {@include animation-delay(0.75s);}
#loss-information .questions form fieldset:nth-of-type(1n) {@include animation-delay(1s);}
#loss-information .questions form fieldset:nth-of-type(2n) {@include animation-delay(1.5s);}
#loss-information .questions form fieldset:nth-of-type(3n) {@include animation-delay(2s);}
#loss-information .questions form .small {@include animation-delay(2.5s);}
#loss-information .questions form fieldset:nth-of-type(4n) {@include animation-delay(3s);}
#loss-information .questions form fieldset:nth-of-type(5n) {
  max-width: 50%;
  @include animation-delay(3.5s);}
#loss-information .questions form .button-box {@include animation-delay(4s);}


// ROOMS SETUP ANIMATIONS
#rooms-setup.chat ul li:nth-of-type(1n) {@include animation-delay(0.5s);}
#rooms-setup .questions form {padding: 2rem 1rem 0 3rem;}
#rooms-setup .questions form h1 {
  padding: 0 0 1rem 1rem;
  @include animation-delay(1s);}
#rooms-setup .questions form fieldset:nth-of-type(1n) {@include animation-delay(1.5s);}
#rooms-setup .questions form fieldset:nth-of-type(2n) {@include animation-delay(2s);}
#rooms-setup .questions form fieldset:nth-of-type(3n) {@include animation-delay(2.5s);}
#rooms-setup .questions form fieldset:nth-of-type(4n) {@include animation-delay(3s);}
#rooms-setup .questions form fieldset:nth-of-type(5n) {@include animation-delay(3.5s);}
#rooms-setup .questions form .button-box {@include animation-delay(4s);}