// BUTTONS
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  max-height: 2.25rem;
  min-height: 2.25rem;
  overflow: hidden;
  margin: 1rem 0.5rem 0;
  padding: 0 1.728rem;
  border-radius: 4rem;
  font-size: 0.694rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  @include transition(all, 0.2s, ease-in-out);
}

.button.hide {opacity: 0;}

.button.show {opacity: 1;}

.button span.button-label {
  display: block;
  position: relative;
  top: 0;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button span.pre, .button span.post {display: inline-block;}

.button span.pre {padding: 0 0.2rem 0 0;}

.button span.post {padding: 0 0 0 0.2rem;}

.button span.pre i.la, .button span.post i.la {
  position: relative;
  top: 0.12rem;
  font-size: 1rem;
}

.button span.number,
.button.secondary span.number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0 0 0 0.5rem;
  border-radius: 100%;
  font-size: 0.694rem;
  font-weight: 700;
}


// CAMERA BUTTON
span.button.camera input[type="file"] {
  position: absolute;
  width: 4rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

span.button.camera {
  width: 4rem;
  max-width: 4rem;
  min-width: 4rem;
  height: 4rem;
  max-height: 4rem;
  min-height: 4rem;
  margin: 1rem 0 0 0;
  padding: 0;
  border-radius: 100%;
}

span.button.camera span.button-label {font-size: 2rem;}


// PRIMARY BUTTON DEFAULT COLOR
.button {
  border: 1px solid $tango;
  color: $white;
  background-color: $tango;
}

.button:hover, .button:focus {
  color: $tango;
  background-color: $white;
}

.button span.number {
  color: $tango;
  background-color: $white;
}

.button:hover span.number, .button:focus span.number {
  color: $white;
  background-color: $tango;
}


// SECONDARY BUTTON DEFAULT COLOR
.button.secondary {
  border: 1px solid $tango;
  color: $tango;
  background-color: $white;
}

.button.secondary:hover, .button.secondary:focus {
  color: $white;
  background-color: $tango;
}

.button.secondary span.number {
  color: $white;
  background-color: $tango;
}

.button.secondary:hover span.number, .button.secondary:focus span.number {
  color: $tango;
  background-color: $white;
}


// BUTTON BOXES
.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0;
}

form .button-box {padding: 1rem 0 0;}

.text .button-box {padding: 1rem 0 0;}

.button-box.right {align-items: flex-end;}

.button-box.right .button {margin: 1rem 0 0 1rem;}

.button-box.left {align-items: flex-start;}

.button-box.left .button {margin: 1rem 1rem 0 0;}

.button-box.row {flex-direction: row;}

.button-box.row.left {justify-content: flex-start;}

.button-box.row.left .button {margin: 1rem 1rem 0 0;}

.button-box.row.left .button:last-of-type {margin: 1rem 0 0 0;}

.button-box.row.right {justify-content: flex-end;}

.button-box.row.right .button {margin: 1rem 0 0 1rem;}

.button-box.row.right .button:first-of-type {margin: 1rem 0 0 0;}