// BUTTONS
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  max-height: 2.25rem;
  min-height: 2.25rem;
  overflow: hidden;
  margin: 1rem 0.5rem 0;
  padding: 0 1.728rem;
  border-radius: 4rem;
  font-size: 0.694rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  @include transition(all, 0.2s, ease-in-out);
}

.button.hide {opacity: 0;}

.button.show {opacity: 1;}

.button span.button-label {
  display: block;
  position: relative;
  top: 0;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button span.pre, .button span.post {display: inline-block;}

.button span.pre {padding: 0 0.2rem 0 0;}

.button span.post {padding: 0 0 0 0.2rem;}

.button span.pre i.la, .button span.post i.la {
  position: relative;
  top: 0.12rem;
  font-size: 1rem;
}

.button span.number,
.button.secondary span.number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0 0 0 0.5rem;
  border-radius: 100%;
  font-size: 0.694rem;
  font-weight: 700;
}


// PRIMARY BUTTON DEFAULT COLOR
.button {
  border: 1px solid $tango;
  color: $white;
  background-color: $tango;
}

.button:hover, .button:focus {
  color: $tango;
  background-color: $white;
}

.button span.number {
  color: $tango;
  background-color: $white;
}

.button:hover span.number, .button:focus span.number {
  color: $white;
  background-color: $tango;
}


// PRIMARY BUTTON COLORS
.button.shark {
  border: 1px solid $shark;
  color: $white;
  background-color: $shark;
}

.button.shark:hover, .button.shark:focus {
  color: $shark;
  background-color: $white;
}

.button.shark span.number {
  color: $shark;
  background-color: $white;
}

.button.shark:hover span.number, .button.shark:focus span.number {
  color: $white;
  background-color: $shark;
}

.button.mako {
  border: 1px solid $mako;
  color: $white;
  background-color: $mako;
}

.button.mako:hover, .button.mako:focus {
  color: $mako;
  background-color: $white;
}

.button.mako span.number {
  color: $mako;
  background-color: $white;
}

.button.mako:hover span.number, .button.mako:focus span.number {
  color: $white;
  background-color: $mako;
}

.button.palesky {
  border: 1px solid $palesky;
  color: $white;
  background-color: $palesky;
}

.button.palesky:hover, .button.palesky:focus {
  color: $palesky;
  background-color: $white;
}

.button.palesky span.number {
  color: $palesky;
  background-color: $white;
}

.button.palesky:hover span.number, .button.palesky:focus span.number {
  color: $white;
  background-color: $palesky;
}

.button.iron {
  border: 1px solid $iron;
  color: $white;
  background-color: $iron;
}

.button.iron:hover, .button.iron:focus {
  color: $iron;
  background-color: $white;
}

.button.iron span.number {
  color: $iron;
  background-color: $white;
}

.button.iron:hover span.number, .button.iron:focus span.number {
  color: $tango;
  background-color: $iron;
}

.button.silver {
  border: 1px solid $silver;
  color: $white;
  background-color: $silver;
}

.button.silver:hover, .button.silver:focus {
  color: $silver;
  background-color: $white;
}

.button.silver span.number {
  color: $silver;
  background-color: $white;
}

.button.silver:hover span.number, .button.silver:focus span.number {
  color: $white;
  background-color: $silver;
}

.button.smoke {
  border: 1px solid $smoke;
  color: $white;
  background-color: $smoke;
}

.button.smoke:hover, .button.smoke:focus {
  color: $smoke;
  background-color: $white;
}

.button.smoke span.number {
  color: $smoke;
  background-color: $white;
}

.button.smoke:hover span.number, .button.smoke:focus span.number {
  color: $white;
  background-color: $smoke;
}

.button.keppel {
  border: 1px solid $keppel;
  color: $white;
  background-color: $keppel;
}

.button.keppel:hover, .button.keppel:focus {
  color: $keppel;
  background-color: $white;
}

.button.keppel span.number {
  color: $keppel;
  background-color: $white;
}

.button.keppel:hover span.number, .button.keppel:focus span.number {
  color: $white;
  background-color: $keppel;
}

.button.grassland {
  border: 1px solid $grassland;
  color: $white;
  background-color: $grassland;
}

.button.grassland:hover, .button.grassland:focus {
  color: $grassland;
  background-color: $white;
}

.button.grassland span.number {
  color: $grassland;
  background-color: $white;
}

.button.grassland:hover span.number, .button.grassland:focus span.number {
  color: $white;
  background-color: $grassland;
}

.button.saffron {
  border: 1px solid $saffron;
  color: $white;
  background-color: $saffron;
}

.button.saffron:hover, .button.saffron:focus {
  color: $saffron;
  background-color: $white;
}

.button.saffron span.number {
  color: $saffron;
  background-color: $white;
}

.button.saffron:hover span.number, .button.saffron:focus span.number {
  color: $white;
  background-color: $saffron;
}

.button.monza {
  border: 1px solid $monza;
  color: $white;
  background-color: $monza;
}

.button.monza:hover, .button.monza:focus {
  color: $monza;
  background-color: $white;
}

.button.monza span.number {
  color: $monza;
  background-color: $white;
}

.button.monza:hover span.number, .button.monza:focus span.number {
  color: $white;
  background-color: $monza;
}

.button.bluesky {
  border: 1px solid $bluesky;
  color: $white;
  background-color: $bluesky;
}

.button.bluesky:hover, .button.bluesky:focus {
  color: $bluesky;
  background-color: $white;
}

.button.bluesky span.number {
  color: $bluesky;
  background-color: $white;
}

.button.bluesky:hover span.number, .button.bluesky:focus span.number {
  color: $white;
  background-color: $bluesky;
}

.button.indigo {
  border: 1px solid $indigo;
  color: $white;
  background-color: $indigo;
}

.button.indigo:hover, .button.indigo:focus {
  color: $indigo;
  background-color: $white;
}

.button.indigo span.number {
  color: $indigo;
  background-color: $white;
}

.button.indigo:hover span.number, .button.indigo:focus span.number {
  color: $white;
  background-color: $indigo;
}

.button.purplerain {
  border: 1px solid $purplerain;
  color: $white;
  background-color: $purplerain;
}

.button.purplerain:hover, .button.purplerain:focus {
  color: $purplerain;
  background-color: $white;
}

.button.purplerain span.number {
  color: $purplerain;
  background-color: $white;
}

.button.purplerain:hover span.number, .button.purplerain:focus span.number {
  color: $white;
  background-color: $purplerain;
}


// SECONDARY BUTTON DEFAULT COLOR
.button.secondary {
  border: 1px solid $tango;
  color: $tango;
  background-color: $white;
}

.button.secondary:hover, .button.secondary:focus {
  color: $white;
  background-color: $tango;
}

.button.secondary span.number {
  color: $white;
  background-color: $tango;
}

.button.secondary:hover span.number, .button.secondary:focus span.number {
  color: $tango;
  background-color: $white;
}


// SECONDARY BUTTON COLORS
.button.secondary.shark {
  border: 1px solid $shark;
  color: $shark;
  background-color: $white;
}

.button.secondary.shark:hover, .button.secondary.shark:focus {
  color: $white;
  background-color: $shark;
}

.button.secondary.shark span.number {
  color: $white;
  background-color: $shark;
}

.button.secondary.shark:hover span.number, .button.secondary.shark:focus span.number {
  color: $shark;
  background-color: $white;
}

.button.secondary.mako {
  border: 1px solid $mako;
  color: $mako;
  background-color: $white;
}

.button.secondary.mako:hover, .button.secondary.mako:focus {
  color: $white;
  background-color: $mako;
}

.button.secondary.mako span.number {
  color: $white;
  background-color: $mako;
}

.button.secondary.mako:hover span.number, .button.secondary.mako:focus span.number {
  color: $mako;
  background-color: $white;
}

.button.secondary.palesky {
  border: 1px solid $palesky;
  color: $palesky;
  background-color: $white;
}

.button.secondary.palesky:hover, .button.secondary.palesky:focus {
  color: $white;
  background-color: $palesky;
}

.button.secondary.palesky span.number {
  color: $white;
  background-color: $palesky;
}

.button.secondary.palesky:hover span.number, .button.secondary.palesky:focus span.number {
  color: $palesky;
  background-color: $white;
}

.button.secondary.iron {
  border: 1px solid $iron;
  color: $iron;
  background-color: $white;
}

.button.secondary.iron:hover, .button.secondary.iron:focus {
  color: $white;
  background-color: $iron;
}

.button.secondary.iron span.number {
  color: $white;
  background-color: $iron;
}

.button.secondary.iron:hover span.number, .button.secondary.iron:focus span.number {
  color: $iron;
  background-color: $white;
}

.button.secondary.silver {
  border: 1px solid $silver;
  color: $silver;
  background-color: $white;
}

.button.secondary.silver:hover, .button.secondary.silver:focus {
  color: $white;
  background-color: $silver;
}

.button.secondary.silver span.number {
  color: $white;
  background-color: $silver;
}

.button.secondary.silver:hover span.number, .button.secondary.silver:focus span.number {
  color: $silver;
  background-color: $white;
}

.button.secondary.smoke {
  border: 1px solid $smoke;
  color: $smoke;
  background-color: $white;
}

.button.secondary.smoke:hover, .button.secondary.smoke:focus {
  color: $white;
  background-color: $smoke;
}

.button.secondary.smoke span.number {
  color: $white;
  background-color: $smoke;
}

.button.secondary.smoke:hover span.number, .button.secondary.smoke:focus span.number {
  color: $smoke;
  background-color: $white;
}

.button.secondary.keppel {
  border: 1px solid $keppel;
  color: $keppel;
  background-color: $white;
}

.button.secondary.keppel:hover, .button.secondary.keppel:focus {
  color: $white;
  background-color: $keppel;
}

.button.secondary.keppel span.number {
  color: $white;
  background-color: $keppel;
}

.button.secondary.keppel:hover span.number, .button.secondary.keppel:focus span.number {
  color: $keppel;
  background-color: $white;
}

.button.secondary.grassland {
  border: 1px solid $grassland;
  color: $grassland;
  background-color: $white;
}

.button.secondary.grassland:hover, .button.secondary.grassland:focus {
  color: $white;
  background-color: $grassland;
}

.button.secondary.grassland span.number {
  color: $white;
  background-color: $grassland;
}

.button.secondary.grassland:hover span.number, .button.secondary.grassland:focus span.number {
  color: $grassland;
  background-color: $white;
}

.button.secondary.saffron {
  border: 1px solid $saffron;
  color: $saffron;
  background-color: $white;
}

.button.secondary.saffron:hover, .button.secondary.saffron:focus {
  color: $white;
  background-color: $saffron;
}

.button.secondary.saffron span.number {
  color: $white;
  background-color: $saffron;
}

.button.secondary.saffron:hover span.number, .button.secondary.saffron:focus span.number {
  color: $saffron;
  background-color: $white;
}

.button.secondary.monza {
  border: 1px solid $monza;
  color: $monza;
  background-color: $white;
}

.button.secondary.monza:hover, .button.secondary.monza:focus {
  color: $white;
  background-color: $monza;
}

.button.secondary.monza span.number {
  color: $white;
  background-color: $monza;
}

.button.secondary.monza:hover span.number, .button.secondary.monza:focus span.number {
  color: $monza;
  background-color: $white;
}

.button.secondary.bluesky {
  border: 1px solid $bluesky;
  color: $bluesky;
  background-color: $white;
}

.button.secondary.bluesky:hover, .button.secondary.bluesky:focus {
  color: $white;
  background-color: $bluesky;
}

.button.secondary.bluesky span.number {
  color: $white;
  background-color: $bluesky;
}

.button.secondary.bluesky:hover span.number, .button.secondary.bluesky:focus span.number {
  color: $bluesky;
  background-color: $white;
}

.button.secondary.indigo {
  border: 1px solid $indigo;
  color: $indigo;
  background-color: $white;
}

.button.secondary.indigo:hover, .button.secondary.indigo:focus {
  color: $white;
  background-color: $indigo;
}

.button.secondary.indigo span.number {
  color: $white;
  background-color: $indigo;
}

.button.secondary.indigo:hover span.number, .button.secondary.indigo:focus span.number {
  color: $indigo;
  background-color: $white;
}

.button.secondary.purplerain {
  border: 1px solid $purplerain;
  color: $purplerain;
  background-color: $white;
}

.button.secondary.purplerain:hover, .button.secondary.purplerain:focus {
  color: $white;
  background-color: $purplerain;
}

.button.secondary.purplerain span.number {
  color: $white;
  background-color: $purplerain;
}

.button.secondary.purplerain:hover span.number, .button.secondary.purplerain:focus span.number {
  color: $purplerain;
  background-color: $white;
}


// WHITE BUTTON COLORS
.button.white.tango {
  border: 1px solid $white;
  color: $tango;
  background-color: $white;
}

.button.white.tango:hover, .button.white.tango:focus {
  color: $white;
  background-color: $tango;
}

.button.white.tango span.number {
  color: $white;
  background-color: $tango;
}

.button.white.tango:hover span.number, .button.white.tango:focus span.number {
  color: $tango;
  background-color: $white;
}

.button.white.shark {
  border: 1px solid $white;
  color: $shark;
  background-color: $white;
}

.button.white.shark:hover, .button.white.shark:focus {
  color: $white;
  background-color: $shark;
}

.button.white.shark span.number {
  color: $white;
  background-color: $shark;
}

.button.white.shark:hover span.number, .button.white.shark:focus span.number {
  color: $shark;
  background-color: $white;
}

.button.white.mako {
  border: 1px solid $white;
  color: $mako;
  background-color: $white;
}

.button.white.mako:hover, .button.white.mako:focus {
  color: $white;
  background-color: $mako;
}

.button.white.mako span.number {
  color: $white;
  background-color: $mako;
}

.button.white.mako:hover span.number, .button.white.mako:focus span.number {
  color: $mako;
  background-color: $white;
}

.button.white.palesky {
  border: 1px solid $white;
  color: $palesky;
  background-color: $white;
}

.button.white.palesky:hover, .button.white.palesky:focus {
  color: $white;
  background-color: $palesky;
}

.button.white.palesky span.number {
  color: $white;
  background-color: $palesky;
}

.button.white.palesky:hover span.number, .button.white.palesky:focus span.number {
  color: $palesky;
  background-color: $white;
}

.button.white.iron {
  border: 1px solid $white;
  color: $iron;
  background-color: $white;
}

.button.white.iron:hover, .button.white.iron:focus {
  color: $white;
  background-color: $iron;
}

.button.white.iron span.number {
  color: $white;
  background-color: $iron;
}

.button.white.iron:hover span.number, .button.white.iron:focus span.number {
  color: $iron;
  background-color: $white;
}

.button.white.silver {
  border: 1px solid $white;
  color: $silver;
  background-color: $white;
}

.button.white.silver:hover, .button.white.silver:focus {
  color: $white;
  background-color: $silver;
}

.button.white.silver span.number {
  color: $white;
  background-color: $silver;
}

.button.white.silver:hover span.number, .button.white.silver:focus span.number {
  color: $silver;
  background-color: $white;
}

.button.white.smoke {
  border: 1px solid $white;
  color: $smoke;
  background-color: $white;
}

.button.white.smoke:hover, .button.white.smoke:focus {
  color: $white;
  background-color: $smoke;
}

.button.white.smoke span.number {
  color: $white;
  background-color: $smoke;
}

.button.white.smoke:hover span.number, .button.white.smoke:focus span.number {
  color: $smoke;
  background-color: $white;
}

.button.white.keppel {
  border: 1px solid $white;
  color: $keppel;
  background-color: $white;
}

.button.white.keppel:hover, .button.white.keppel:focus {
  color: $white;
  background-color: $keppel;
}

.button.white.keppel span.number {
  color: $white;
  background-color: $keppel;
}

.button.white.keppel:hover span.number, .button.white.keppel:focus span.number {
  color: $keppel;
  background-color: $white;
}

.button.white.grassland {
  border: 1px solid $white;
  color: $grassland;
  background-color: $white;
}

.button.white.grassland:hover, .button.white.grassland:focus {
  color: $white;
  background-color: $grassland;
}

.button.white.grassland span.number {
  color: $white;
  background-color: $grassland;
}

.button.white.grassland:hover span.number, .button.white.grassland:focus span.number {
  color: $grassland;
  background-color: $white;
}

.button.white.saffron {
  border: 1px solid $white;
  color: $saffron;
  background-color: $white;
}

.button.white.saffron:hover, .button.white.saffron:focus {
  color: $white;
  background-color: $saffron;
}

.button.white.saffron span.number {
  color: $white;
  background-color: $saffron;
}

.button.white.saffron:hover span.number, .button.white.saffron:focus span.number {
  color: $saffron;
  background-color: $white;
}

.button.white.monza {
  border: 1px solid $white;
  color: $monza;
  background-color: $white;
}

.button.white.monza:hover, .button.white.monza:focus {
  color: $white;
  background-color: $monza;
}

.button.white.monza span.number {
  color: $white;
  background-color: $monza;
}

.button.white.monza:hover span.number, .button.white.monza:focus span.number {
  color: $monza;
  background-color: $white;
}

.button.white.bluesky {
  border: 1px solid $white;
  color: $bluesky;
  background-color: $white;
}

.button.white.bluesky:hover, .button.white.bluesky:focus {
  color: $white;
  background-color: $bluesky;
}

.button.white.bluesky span.number {
  color: $white;
  background-color: $bluesky;
}

.button.white.bluesky:hover span.number, .button.white.bluesky:focus span.number {
  color: $bluesky;
  background-color: $white;
}

.button.white.indigo {
  border: 1px solid $white;
  color: $indigo;
  background-color: $white;
}

.button.white.indigo:hover, .button.white.indigo:focus {
  color: $white;
  background-color: $indigo;
}

.button.white.indigo span.number {
  color: $white;
  background-color: $indigo;
}

.button.white.indigo:hover span.number, .button.white.indigo:focus span.number {
  color: $indigo;
  background-color: $white;
}

.button.white.purplerain {
  border: 1px solid $white;
  color: $purplerain;
  background-color: $white;
}

.button.white.purplerain:hover, .button.white.purplerain:focus {
  color: $white;
  background-color: $purplerain;
}

.button.white.purplerain span.number {
  color: $white;
  background-color: $purplerain;
}

.button.white.purplerain:hover span.number, .button.white.purplerain:focus span.number {
  color: $purplerain;
  background-color: $white;
}


// BUTTON BOX/ROW
.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0;
}

form .button-box {padding: 1rem 0 0;}

.text .button-box {padding: 1rem 0 0;}

.button-box.right {align-items: flex-end;}

.button-box.right .button {margin: 1rem 0 0 1rem;}

.button-box.left {align-items: flex-start;}

.button-box.left .button {margin: 1rem 1rem 0 0;}

.button-box.row {flex-direction: row;}

.button-box.row.left {justify-content: flex-start;}

.button-box.row.left .button {margin: 1rem 1rem 0 0;}

.button-box.row.left .button:last-of-type {margin: 1rem 0 0 0;}

.button-box.row.right {justify-content: flex-end;}

.button-box.row.right .button {margin: 1rem 0 0 1rem;}

.button-box.row.right .button:first-of-type {margin: 1rem 0 0 0;}