// COLOR PALETTE
$black: #000000;
$white: #ffffff;

$tango: #f27e20;
$hover: #e17319;
$shark: #1b1e24;
$mako: #444853;
$palesky: #6d7881;
$iron: #cccece;
$silver: #ededed;
$smoke: #f9f9f9;
$keppel: #36aba6;
$grassland: #1dbd55;
$saffron: #f7b617;
$monza: #d0021b;
$bluesky: #0d31f5;
$indigo: #2b387f;
$purplerain: #992a8c;

a {color: var(--accent-color);}
a:hover, a:focus {color: $mako;}


// UPDATED SOLERA COLORS
$orange: #ea7200;
$dark-gray: #243746;
$cool-gray: #dae1e9;

$blue: #47a4b8;
$aqua: #53c2c3;
$navy: #101820;
$yellow: #f8b34e;