// MAX-WIDTHS
.xs {max-width: 16rem;}
.sm {max-width: 24rem;}
.md {max-width: 32rem;}
.lg {max-width: 40rem;}
.xl {max-width: 56rem;}

.xs, .sm, .md, .lg, .xl {margin: 0 auto;}


// MAIN
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0 0 2rem;
}


// TEXT
.text {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0;
}

.text.center {text-align: center;}

.text.right {text-align: right;}


// FORM CONTAINER
.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0;
  @include transition(all, 0.325s, ease);
  @include transform(translateY(0%));
}

.form-container.hidden {
  display: none;
  @include transition(all, 0.325s, ease);
  @include transform(translateY(-200rem));
}

.form-container.hidden.loaded {display: flex;}