// HEADER & NAVIGATION
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  z-index: 100;
  width: 100%;
  max-width: 100%;
  max-height: calc(100vh - 2rem);
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 1rem 1rem 0;
  padding: 1rem;
  background-color: $white;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 200%;
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0%));
  a.nav--open {font-size: 2rem;}
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: -2.5rem;
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
    max-height: calc(100vh - 2rem);
    max-height: 0rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    @include transition(all, 0.325s, ease);
    @include transform(translateX(100%));
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
      a {
        display: flex;
        align-items: center;
        font-weight: 500;
      }
      span.icon {
        width: 4rem;
        font-size: 2rem;
        text-align: center;
      }
      a.nav--close .icon {width: auto;}
    }
  }
}

nav.open {@include transform(translateX(-100%));}

nav.open ul {max-height: 100vh;}