// NAVIGATION
nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200%;
  margin: 0 auto;
  padding: 0;
  @include transition(all, 0.325s, ease);
  @include transform(translateX(-50%));

  a.nav--open {
    position: absolute;
    top: 1rem;
    left: calc(50% + 1rem);
    font-size: 2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: calc(50% - 1rem);
    height: calc(100vh - 2rem);
    margin: 0;
    padding: 1rem;
    list-style-type: none;
    background-color: $white;
  }
  ul li {
    width: inherit;
    padding: 0 0 1rem 0;
  }
  ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
  }
  ul li a:hover, ul li a:focus {color: $mako;}
  ul li.nav-close a span.icon {text-align: left;}
  ul li a span.icon {
    width: 4rem;
    font-size: 2.5rem;
    text-align: center;
  }
  ul li a.active {color: $mako;}
}

nav.open {@include transform(translateX(-0%));}