// TYPOGRAPHY
h1, h2, h3 {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $head;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}

h2, h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

h3 {font-size: 1.25rem;}

p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

p:last-of-type {padding: 1rem 0 0;}

small {font-size: 0.875rem;}

strong, em, b {
  font-style: normal;
  font-weight: 700;
}

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {text-align: center;}

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {text-align: right;}