@import '../../../enservio-design-system/src/css/master';


//MIXINS
@mixin animation-delay($delay: 1s) {
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
};


// MASTER ADJUSTMENTS
body, .body {
  justify-content: flex-start;
  animation: none;
}

main {padding: 1rem 0 2rem;}

span.error-message {
  min-height: 1rem;
  font-size: 0.694rem;
}

.logo {
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
  @include animation-delay(0.5s);
}

.button-box {
  flex-direction: row;
  justify-content: center;
}

.button-box .button, .button-box .button.small {margin: 1rem 0.5rem 0;}

.carousel .carousel-cell {
  justify-content: flex-start;
  padding: 0;
}


// ANIMATION DURATION SETTING
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}


// SMALL BUTTONS
.button.small {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.25rem;
  max-width: 2.25rem;
  height: 2.25rem;
  max-height: 2.25rem;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  font-size: 1.44rem;
  line-height: 1;
}


// BIG ROUND BUTTONS
.button.round {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4rem;
  max-width: 4rem;
  height: 4rem;
  max-height: 4rem;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  font-size: 2rem;
  line-height: 1;
}


// BIG ROUND BUTTONS COUNTER
span.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -1.5rem;
  left: -1.25rem;
  width: 1.5rem;
  max-width: 1.5rem;
  height: 1.5rem;
  max-height: 1.5rem;
  border-radius: 100%;
  font-size: 0.833rem;
  font-weight: 500;
  color: $white;
  background-color: $color-two;
}


// LOADING SCREEN
.bg-color-one {background-color: $color-one;}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
}

.loading-screen .logo {max-width: 18rem;}

.loading-screen .logo svg:first-of-type {padding: 0 0 1rem;}

.loading-screen footer {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
  color: $white;
  @include animation-delay(1s);
}

.loading-screen footer a {color: $white;}

.loading-screen footer a:hover,
.loading-screen footer a:focus {color: $color-two;}


// LOG IN & REGISTRATION
main.security {
  display: block;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 2rem;
}

.authentication {
  display: flex;
  width: 300%;
  @include transition(all, 0.5s, ease);
}

.authentication.p1 {@include transform(translateX(0%));}
.authentication.p2 {@include transform(translateX(-33.3%));}
.authentication.p3 {@include transform(translateX(-66.3%));}

.log-in, .register {
  display: block;
  float: left;
  width: 100%;
  max-width: 100%;
  padding: 0;
}


// GREETING
.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 0 1rem;
}

.greeting .large-avatar img {
  width: 8rem;
  border-radius: 100%;
}

.greeting p {
  font-weight: 500;
  text-align: center;
}


// CHAT
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 0;
}

.chat ul {
  padding: 0;
  list-style-type: none;
}

.chat ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.chat ul li .small-avatar {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
}

.chat ul li .small-avatar img {border-radius: 100%;}

.chat ul li .bubble {
  display: block;
  width: 90%;
  padding: 1rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0;
  background-color: $off-white;
}

.chat ul li .bubble p {padding: 0 0 0.833rem;}

.chat ul li .bubble p:last-of-type {padding: 0;}

.chat ul li.help {
  display: flex;
  flex-direction: row-reverse;
  @include transition(all, 0.25s, ease-in-out);
}

.chat ul li.help .small-avatar {margin: 0 0 0 1rem;}

.chat ul li.help .bubble {border-radius: 0.25rem 0.25rem 0 0.25rem;}


// QUESTIONS
.questions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0 0;
}

.questions form {
  margin: 0;
  padding: 0 2rem 0 1rem;
}

.questions form.col {
  flex-direction: row;
  flex-wrap: wrap;
}

.questions form.col fieldset {width: 50%;}

.questions form h1 {
  padding: 0 0 0.694rem 1rem;
  font-size: 1.44rem;
}

.questions form p {
  padding: 0 0 1.694rem 1rem;
  line-height: 1;
}

.questions form .field {padding: 0 0 0 1rem;}

.questions form .button-box {
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.questions form .button-box .button {margin: 1rem 0.5rem 0;}


// LIMITS METER
.limits-meter {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 0;
  background-color: $white;
}

.limits-meter h1 {
  padding: 0 0 0.694rem;
  font-family: $serif;
  font-size: 1.44rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.limits-meter .limit-gauge {
  display: block;
  width: 100%;
  height: 4px;
  background-color: $light-gray;
}

.limits-meter .limit-gauge > span {
  display: block;
  height: inherit;
  @include transition(all, 0.5s, ease);
}

.limits-meter .limit-gauge > span.low {background-color: $valid;}

.limits-meter .limit-gauge > span.high {background-color: $invalid;}

.limits-meter .range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  line-height: 2;
}


// EXPRESS CONTENTS INVENTORY LIST
.express-contents-list {padding: 1rem 1rem 0;}

.express-contents-list h1 {
  padding: 0 0 1rem;
  font-size: 1.44rem;
}

.express-contents-list ul {
  padding: 0 0 2rem;
  list-style-type: none;
}

.express-contents-list ul:last-of-type {padding: 0 0 10rem;}

.express-contents-list ul h2 {
  padding: 0 0 1rem;
  font-size: 1.2rem;
}

.express-contents-list ul li {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 2px;
  @include transition(all, 0.5s, ease-in-out);
}

.express-contents-list ul li:last-of-type {margin: 0 auto;}

.express-contents-list ul li input.accordian {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.express-contents-list ul li span.item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.625rem;
  min-width: 1.625rem;
  height: 1.625rem;
  min-height: 1.625rem;
  margin: 0 0.5rem 0 0;
  border-radius: 50%;
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 0;
  color: #ffffff;
  background-color: #000000;
}

.express-contents-list ul li .top-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.express-contents-list ul li .top-line .description,
.express-contents-list ul li .top-line .quantity,
.express-contents-list ul li .top-line .photos,
.express-contents-list ul li .top-line .value {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0 0;
  line-height: 1.25;
}

.express-contents-list ul li .top-line .description {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
}

.express-contents-list ul li .top-line .description span:last-of-type {
  display: block;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.express-contents-list ul li .top-line .description span:first-of-type,
.express-contents-list ul li .top-line .quantity span:first-of-type,
.express-contents-list ul li .top-line .photos span:first-of-type,
.express-contents-list ul li .top-line .value span:first-of-type {
  font-size: 0.833rem;
  font-weight: 500;
}

.express-contents-list ul li .top-line .value {width: 20%;}

.express-contents-list ul li .top-line .quantity,
.express-contents-list ul li .top-line .photos {width: 15%;}

.express-contents-list ul li .top-line .quantity,
.express-contents-list ul li .top-line .photos,
.express-contents-list ul li .top-line .value {text-align: right;}

.express-contents-list ul li i.la.la-angle-down {
  line-height: 1.25;
  @include transition(all, 0.25s, ease-in-out);
}

.express-contents-list ul li .edit-product-details {
  max-height: 0;
  @include transition(max-height, 0.25s, ease-in-out);
}

.express-contents-list ul li input.accordian:checked ~ .edit-product-details {
  max-height: 100rem;
  @include transition(max-height, 0.5s, ease-in-out);
}

.express-contents-list ul li input.accordian:checked ~ .express-contents-list ul li i.la.la-angle-down {
  @include transform(rotate(0.5turn));
}

.express-contents-list ul li .edit-product-details form {padding: 2rem 0 0;}

.express-contents-list .button-box.submit {
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 0 2rem;
  background-color: $white;
}


// PROCESSING
.processing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 3rem);
}

.spinner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin: 1rem auto 4rem;
  border-radius: 100%;
  background-color: $color-one;
  @include animation-delay(1s);
}

.spinner i.la.la-refresh {
  font-size: 2rem;
  text-align: center;
  color: $white;
}


// SETTLEMENT OFFER
.settlement {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 0;
  text-align: center;
}

.settlement h1 {
  padding: 0;
  font-size: 1.44rem;
}

.settlement p {
  padding: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2;
}
