@import "_global/base";
@import "_global/typography";
@import "_global/buttons";
@import "_global/containers";
@import "_global/indicators";

@import "_components/notifications";
@import "_components/chat";
@import "_components/voice";
@import "_components/sliders";

@import "_pages/welcome";
@import "_pages/onsite";