@import "_global/base";
@import "_global/typography";
@import "_global/buttons";
@import "_global/containers";
@import "_global/forms";

@import "_components/indicators";
@import "_components/notifications";
@import "_components/chat";
@import "_components/voice";
@import "_components/sliders";
@import "_components/accordions";

@import "_pages/welcome";
@import "_pages/onsite";
@import "_pages/item-summary";
@import "_pages/room-inventory";
@import "_pages/dashboard";