// ITEM SUMMARY PAGE FORM
.item-summary .form-container {padding: 2rem 2rem 1rem;}

.item-summary .form-container:before {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $silver;
  margin: 0 0 2rem;
  content: "";
}

.item-summary .form-container:after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $silver;
  margin: 2rem 0 1rem;
  content: "";
}

.item-summary .form-container form {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-summary .form-container form label {
  align-items: center;
  text-align: center;
}

.item-summary .form-container form input {
  border-bottom: 1px solid $white;
  text-align: center;
  @include transition(all, 0.25s, ease-in-out);
}

.item-summary .form-container form input:focus {border-bottom: 1px solid var(--accent-color);}

.item-summary .form-container form fieldset.quantity,
.item-summary .form-container form fieldset.years,
.item-summary .form-container form fieldset.months {width: calc(33% - 1rem);}

.item-summary .form-container form fieldset.value input {font-size: 2rem;}


// SAVE LIST FORM
.item-summary .form-container.save-list form label {
  align-items: flex-start;
  text-align: left;
}

.item-summary .form-container.save-list form input {
  border-bottom: 1px solid $cool-gray;
  text-align: left;
}

.item-summary .form-container.save-list form input:focus {border-bottom: 1px solid var(--accent-color);}

.item-summary .form-container.save-list form fieldset.value input {font-size: 1rem;}

.item-summary .form-container.save-list:before {
  display: block;
  width: 100%;
  margin: 0 0 2rem;
  background-color: transparent;
  content: "";
}

.item-summary .form-container.save-list:after {display: none;}