// ITEM SUMMARY PAGE FORM
.item-summary .form-container {padding: 2rem 2rem 1rem;}

.item-summary .form-container:before {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $silver;
  margin: 1rem 0 2rem;
  content: "";
}

.item-summary .form-container:after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $silver;
  margin: 2rem 0 1rem;
  content: "";
}

.item-summary .form-container form {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-summary .form-container form label {
  align-items: center;
}

.item-summary .form-container form input {
  border-bottom: 1px solid $white;
  text-align: center;
  @include transition(all, 0.25s, ease-in-out);
}

.item-summary .form-container form input:focus {border-bottom: 1px solid $tango;}

.item-summary .form-container form fieldset.quantity,
.item-summary .form-container form fieldset.years,
.item-summary .form-container form fieldset.months {width: calc(33% - 1rem);}

.item-summary .form-container form fieldset.value input {font-size: 2rem;}