// ONSITE SETUP
.onsite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 0 2rem;
  @include transition(all, 0.5s, ease);
}
