// PROFILE LIST
.profile ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1rem 0 0;
  list-style-type: none;
  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 1rem 0;
    span.label {
      padding: 0 0 0.25rem;
      font-size: 0.875rem;
      font-weight: 600;      
    }
    a {
      position: absolute;
      right: 0;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }
  li.avatar {
    align-items: center;
    img {
      display: inline-flex;
      width: 6rem;
      height: 6rem;
      margin: 0 auto 1rem;
      border-radius: 100%;
    }
    a {position: relative;}
  }
  li:after {
    display: block;
    width: 100%;
    padding: 1rem 0 0;
    border-bottom: 1px solid $iron;
    content: "";
  }
  li.avatar:after {display: none;}
}


// PROFILE AVATAR
.avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  img {
    display: inline-flex;
    width: 6rem;
    height: 6rem;
    margin: 1rem auto 0;
    border-radius: 100%;
  }
}