// LOADING
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: $tango;
  @include transition(all, 0.5s, ease);
}

.loading .logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.loading .logo svg {
  max-width: 16rem;
  margin: 0 auto;
}

.loading .logo .l-bod {
  fill: $white;
  @include animation-delay(0.5s);
  @include animation-duration(0.5s);
}

.loading .logo .l-dot {
  fill: $monza;
  @include animation-delay(1s);
  @include animation-duration(0.5s);
}

.loading .logo .express-contents {
  fill: $white;
  @include animation-delay(1.5s);
}

.loading.loaded {@include transform(translateY(-100rem));}


// WELCOME
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
}

.welcome .setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0 0 2rem;
}
