// LOADING
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: $tango;
  @include transition(all, 0.5s, ease);
}

.loading .logo {
  width: 50%;
  max-width: 16rem;
}

.loading .logo .l-bod {fill: $white;}
.loading .logo .l-dot {fill: $monza;}

.loading.loaded {@include transform(translateY(-100%));}


// WELCOME
.welcome {max-width: 100vw;}