// ACCORDIONS
.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto 1rem;
  padding: 1rem 0;
  border: 1px solid $iron;
  border-radius: 0.25rem;
  background-color: $white;
  @include transition(all, 0.325s, ease-in-out, 0s);
}

.accordion:last-of-type {margin: 0 auto;}

.accordion > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordion label {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.item-number {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.item-number span {font-weight: 700;}


// ACCORDION ITEM HEADER
.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 2.125rem;
  margin: 0;
}

.item-header:after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 0.5rem;
  font-family: "LineAwesome";
  content: "\f110";
  @include transition(all, 0.325s, ease-in-out, 0s);
  @include transform(rotate(0turn));
}

input.accordion:checked ~ label .item-header:after {
  @include transition(all, 0.325s, ease-in-out, 0s);
  @include transform(rotate(-0.5turn));
}

.item-header .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 5rem);
  padding: 0 0.5rem 0 0;
}

.item-header .description p {
  display: block;
  padding: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 64rem) {
.item-header:after {width: 2.5%;}
.item-header .description {
  width: 45%;
  min-width: 45%;
}}


// INVENTORY ITEM HEADER
.accordion.inventory .item-number {padding: 0 1rem;}

.accordion.inventory .item-header {
  min-height: inherit;
  padding: 0 1rem;
}

.accordion.inventory .item-header .description,
.accordion.inventory .item-header .cost,
.accordion.inventory .item-header .qty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0.5rem 0 0;
}

.accordion.inventory .item-header .description {width: calc(75% - 1.5rem);}
.accordion.inventory .item-header .cost {width: calc(25% - 1.5rem);}

.accordion.inventory .item-header .description span,
.accordion.inventory .item-header .cost span,
.accordion.inventory .item-header .qty span {
  font-size: 0.875rem;
  font-weight: 700;
}

.accordion.inventory .item-header .description p,
.accordion.inventory .item-header .cost p,
.accordion.inventory .item-header .qty p {
  display: block;
  padding: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accordion.inventory .item-header .qty {display: none;}

@media (min-width: 48rem) {.accordion.inventory .item-header .description {width: calc(80% - 1.5rem);}}

@media (min-width: 64rem) {
.accordion.inventory .item-header .description {width: calc(70% - 1.5rem);}
.accordion.inventory .item-header .cost {width: calc(22% - 1.5rem);}
.accordion.inventory .item-header .qty {
  display: flex;
  width: calc(18% - 1.5rem);
}}


// ACCORDION ITEM SUMMARY
.accordion.inventory .item-summary {max-height: 0;}

.accordion input:checked ~ .item-summary {
  max-height: 500rem;
  @include transition(max-height, 0.325s, ease-in-out);
}


// DISABLED INVENTORY ITEMS
.accordion.inventory.disabled {
  .item-number {color: $mako;}
  .item-header {color: $mako;}
  .field input {
    border-bottom: 1px solid $mako;
    color: $mako;
  }
  .field label {color: $mako;}
  .field select {
    border-bottom: 1px solid $mako;
    color: $mako;
  }
  .field .select-icon {color: $mako;}
}