// ACCORDIONS
.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto 1rem;
  padding: 1rem 0;
  border: 1px solid $iron;
  border-radius: 0.25rem;
  background-color: $white;
  @include transition(all, 0.325s, ease-in-out, 0s);
}

.accordion:last-of-type {margin: 0 auto;}

.accordion > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordion label {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.item-number {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.item-number span {font-weight: 700;}


// ACCORDION ITEM HEADER
.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 2.125rem;
  margin: 0;
}

.item-header:after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 0.5rem;
  font-family: "LineAwesome";
  content: "\f110";
  @include transition(all, 0.325s, ease-in-out, 0s);
  @include transform(rotate(0turn));
}

.accordion input.accordion:checked ~ label .item-header:after {
  @include transition(all, 0.325s, ease-in-out, 0s);
  @include transform(rotate(-0.5turn));
}

.item-header .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 5rem);
  padding: 0 0.5rem 0 0;
}

.item-header .description p {
  display: block;
  padding: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 64rem) {
.item-header:after {width: 2.5%;}
.item-header .description {
  width: 45%;
  min-width: 45%;
}}


// ACCORDION ITEM DETAILS
.item-details {
  width: 100%;
  max-height: 0;
  padding: 0;
  @include transition(max-height, 0.325s, ease-in-out);
}

.item-details:before {
  display: block;
  width: 100%;
  height: 1px;
  margin: 1rem auto;
  background-color: $iron;
  content: "";
}

.accordion input:checked ~ .item-details {
  max-height: 500rem;
  @include transition(max-height, 0.325s, ease-in-out);
}

.message {
  display: block;
  line-height: 1.5;
}

.message span {margin: 0 0.25rem 0 0;}

.message span:last-of-type {margin: 0;}

.message:after {
  display: block;
  width: 100%;
  height: 1px;
  margin: 1rem auto;
  background-color: $iron;
  content: "";
}


// ACCORDIAN BUTTONS
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;
  min-width: 3rem;
  height: auto;
  min-height: 2.25rem;
}

.buttons .large {display: none;}

@media (min-width: 48rem) {
.buttons .small {display: none !important;}
.buttons .large {
  display: flex;
  justify-content: center;
  position: relative;
  width: 6rem;
  max-width: 6rem;
  height: 2.25rem;
  max-height: 2.25rem;
  margin: 0 0 0 0.5rem;
}}

@media (min-width: 64rem) {
.buttons {
  width: 15.5%;
  min-width: 15.5%;
}}


// SMALL BUTTONS
.button.small {
  display: flex;
  justify-content: center;
  position: relative;
  width: 2.25rem;
  max-width: 2.25rem;
  height: 2.25rem;
  max-height: 2.25rem;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  font-size: 1.44rem;
  line-height: 1;
}

.button.small span {position: absolute;}


// INVENTORY ITEM HEADER
.inventory .item-number {padding: 0 1rem;}

.inventory .item-header {
  min-height: inherit;
  padding: 0 1rem;
}

.inventory .description,
.inventory .cost,
.inventory .qty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0.5rem 0 0;
}

.inventory .description {width: calc(100% - 1.5rem);}

.inventory .description span,
.inventory .cost span,
.inventory .qty span {
  font-size: 0.875rem;
  font-weight: 700;
}

.inventory .description p,
.inventory .cost p,
.inventory .qty p {
  display: block;
  padding: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inventory .cost, .inventory .qty {display: none;}

@media (min-width: 48rem) {
.inventory .description {width: calc(80% - 1.5rem);}
.inventory .cost {
  display: flex;
  width: calc(25% - 1.5rem);
}}

@media (min-width: 64rem) {
.inventory .description {width: calc(70% - 1.5rem);}
.inventory .cost {width: calc(22% - 1.5rem);}
.inventory .qty {
  display: flex;
  width: calc(18% - 1.5rem);
}}


// INVENTORY ITEM DETAILS
.inventory .item-details:before {
  display: block;
  width: calc(100% - 2rem);
  height: 1px;
  margin: 2rem 1rem 0;
  background-color: $iron;
  content: "";
}

.inventory .item-details form {padding: 2rem 0 0;}


// DISABLED INVENTORY ITEMS
.accordion.inventory.disabled {
  .item-number {color: $mako;}
  .item-header {color: $mako;}
  .field input {
    border-bottom: 1px solid $mako;
    color: $mako;
  }
  .field label {color: $mako;}
  .field select {
    border-bottom: 1px solid $mako;
    color: $mako;
  }
  .field .select-icon {color: $mako;}
}