// CHAT BOT
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 32rem;
  height: auto;
  max-height: 100vh;
  margin: 0 auto;
  padding: 1rem 1rem 0;
  opacity: 1;
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0%));
}

.chat.hidden {
  max-height: 0;
  padding: 0;
  @include transform(translateX(200%));
}

.chat-bot {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 0 1rem;
}

.chat-bot:last-of-type {padding: 0;}

.chat-bot .small-avatar {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
}

.chat-bot .small-avatar img {border-radius: 100%;}

.chat-bot .bubble {
  display: block;
  width: 90%;
  padding: 1rem;
  border-radius: 0.25rem 0.25rem 0.25rem 0;
  background-color: $smoke;
}

.chat-bot .bubble p {padding: 0 0 1rem;}

.chat-bot .bubble p:last-of-type {padding: 0;}


// CHAT BOT REVERSE
.chat-bot.reverse {flex-direction: row-reverse;}
.chat-bot.reverse .small-avatar {margin: 0 0 0 1rem;}
.chat-bot.reverse .bubble {border-radius: 0.25rem 0.25rem 0 0.25rem;}


// ONSITE CHAT
.onsite .chat.two {padding: 0 1rem;}