// INDICATORS
.indicator {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 16rem;
  max-height: 100rem;
  margin: 0 auto;
  padding: 1rem 2rem 0;
  @include animation-delay(2.5s);
  @include animation-duration(0.325s);
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0%));
}

.indicator.hidden {
  max-height: 0;
  padding: 0;
  @include transition(max-height, 0.325s, ease);
  @include transform(translateX(200%));
}

.indicator-gauge {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $white;
}

.indicator-gauge > span {
  display: block;
  width: 0%;
  height: inherit;
  @include transition(all, 2.5s, ease);
}

.indicator-gauge > span.loaded {width: 100%;}


// LOADING INDICATOR
.loading .indicator .indicator-gauge > span {background-color: $tango;}


// WELCOME/SETUP INDICATOR
.welcome .indicator {padding: 1rem 2rem;}
.welcome .indicator .indicator-gauge {background-color: $tango;}
.welcome .indicator .indicator-gauge > span {background-color: $white;}


// ONSITE INDICATOR
.onsite .indicator {padding: 1rem 2rem;}
.onsite .indicator .indicator-gauge {background-color: $tango;}
.onsite .indicator .indicator-gauge > span {
  background-color: $white;
  @include transition(all, 5s, ease);
}