// INDICATORS
.indicator {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 16rem;
  max-height: 100rem;
  margin: 0 auto;
  padding: 1rem 2rem 0;
  @include animation-delay(2.5s);
  @include animation-duration(0.325s);
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0rem));
}

.indicator.hidden {
  max-height: 0;
  padding: 0;
  @include transition(max-height, 0.325s, ease);
  @include transform(translateX(100rem));
}

.indicator-gauge {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}

.indicator-gauge > span {
  display: block;
  width: 0%;
  height: inherit;
  background-color: $white;
  @include transition(all, 2.5s, ease);
}

.indicator-gauge > span.loaded {width: 100%;}


// LOADING INDICATOR
.loading .indicator .indicator-gauge {background-color: $white;}
.loading .indicator .indicator-gauge > span {background-color: var(--accent-color);}


// WELCOME/SETUP INDICATOR
.welcome .indicator.two.hidden {padding: 0;}
.welcome .indicator.two {padding: 4rem 2rem;}


// ONSITE INDICATOR
.onsite .indicator.one.hidden {padding: 0;}
.onsite .indicator.one {padding: 4rem 2rem;}
.onsite .indicator.one .indicator-gauge > span {@include transition(all, 5s, ease);}