// SLIDERS
.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
}

.slider.ext {
  max-width: 100%;
  overflow: hidden;
}

.slider.int {
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0%));
}


// WELCOME SETUP SLIDER
.welcome .slider.int {min-width: 200%;}
.welcome .slider.int.slide-two {@include transform(translateX(-50%));}


// ONSITE SETUP SLIDER
.onsite .slider.int {min-width: 200%;}
.onsite .slider.int.slide-two {@include transform(translateX(-50%));}


// OFFSITE SETUP SLIDER
.offsite .slider.int {min-width: 400%;}
.offsite .slider.int.slide-two {@include transform(translateX(-25%));}
.offsite .slider.int.slide-three {@include transform(translateX(-50%));}
.offsite .slider.int.slide-four {@include transform(translateX(-75%));}


// ROOM INVENTORY SLIDER
.inventory .slider.int {min-width: 100%;}
.inventory .slider.int.slide-two {@include transform(translateX(-50%));}
