// SLIDERS
.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
}

.slider.ext {
  max-width: 100%;
  overflow: hidden;
}

.slider.int {
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0%));
}


// WELCOME SETUP SLIDER
.welcome .slider.int {min-width: 300%;}
.welcome .slider.int.slide-two {@include transform(translateX(-33.3%));}
.welcome .slider.int.slide-three {@include transform(translateX(-66.6%));}
