// SLIDERS
.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
}

.slider.ext {
  max-width: 100%;
  overflow: hidden;
}

.slider.int {
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0%));
}


// SLIDER CONTAINERS
.setup, .room-item, .dashboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 2rem;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


// WELCOME SETUP SLIDER
.welcome .slider.int {min-width: 200%;}
.welcome .slider.int.slide-two {@include transform(translateX(-50%));}


// ITEM SUMMARY SLIDER
.item-summary .slider.int {min-width: 500%;}
.item-summary .slider.int.slide-two {@include transform(translateX(-20%));}
.item-summary .slider.int.slide-three {@include transform(translateX(-40%));}
.item-summary .slider.int.slide-four {@include transform(translateX(-60%));}
.item-summary .slider.int.slide-five {@include transform(translateX(-80%));}


// ONSITE SETUP SLIDER
.onsite .slider.int {min-width: 300%;}
.onsite .slider.int.slide-two {@include transform(translateX(-33.3%));}
.onsite .slider.int.slide-three {@include transform(translateX(-66.6%));}


// OFFSITE SETUP SLIDER
.offsite .slider.int {min-width: 400%;}
.offsite .slider.int.slide-two {@include transform(translateX(-25%));}
.offsite .slider.int.slide-three {@include transform(translateX(-50%));}
.offsite .slider.int.slide-four {@include transform(translateX(-75%));}


// ROOM INVENTORY SLIDER
.inventory .slider.int {min-width: 100%;}
.inventory .slider.int.slide-two {@include transform(translateX(-50%));}


// DASHBOARD SLIDER
.dashboard .slider.int {min-width: 400%;}
.dashboard .slider.int.slide-two {@include transform(translateX(-25%));}
.dashboard .slider.int.slide-three {@include transform(translateX(-50%));}
.dashboard .slider.int.slide-four {@include transform(translateX(-75%));}


// EXPRESS SETUP
.express-setup .slider.int {min-width: 600%;}
.express-setup .slider.int.slide-two {@include transform(translateX(-16.666%));}
.express-setup .slider.int.slide-three {@include transform(translateX(-33.332%));}
.express-setup .slider.int.slide-four {@include transform(translateX(-49.998%));}
.express-setup .slider.int.slide-five {@include transform(translateX(-66.664%));}
.express-setup .slider.int.slide-six {@include transform(translateX(-83.33%));}


// FIELD SETUP
.field-setup .slider.int {min-width: 300%;}
.field-setup .slider.int.slide-two {@include transform(translateX(-33.3%));}
.field-setup .slider.int.slide-three {@include transform(translateX(-66.6%));}


// PROFILE SLIDER
.profile .slider.int {min-width: 500%;}
.profile .slider.int .slide {justify-content: flex-start;}
.profile .slider.int.slide-two {@include transform(translateX(-20%));}
.profile .slider.int.slide-three {@include transform(translateX(-40%));}
.profile .slider.int.slide-four {@include transform(translateX(-60%));}
.profile .slider.int.slide-five {@include transform(translateX(-80%));}