// VOICE
.voice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 32rem;
  height: auto;
  max-height: 100rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  opacity: 1;
  @include transition(all, 0.325s, ease);
  @include transform(translateX(0rem));
}

.voice.hidden {
  max-height: 0;
  padding: 0;
  @include transition(max-height, 0.325s, ease);
  @include transform(translateX(100rem));
}

.voice .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 100%;
  font-size: 2rem;
  background-color: $white;
  outline: none;
  @include transition(all, 0.25s, ease);
}

.voice .icon.inactive {
  border: 1px solid $iron;
  color: $iron;
}

.voice .icon.active {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}