// VOICE
.voice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  opacity: 1;
  @include transition(all, 0.5s, ease);
  @include transform(translateX(0%));
}

.voice.hidden {
  opacity: 0;
  @include transition(all, 0.5s, ease);
  @include transform(translateX(200%));
}

.voice .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 100%;
  font-size: 2rem;
  background-color: $white;
  outline: none;
  @include transition(all, 0.25s, ease);
}

.voice .icon.inactive {
  border: 1px solid $iron;
  color: $iron;
}

.voice .icon.active {
  border: 1px solid $tango;
  color: $tango;
}


// WAVEFORM
.waveform {
  display: flex;
  width: 90%;
  max-height: 0;
//   min-height: 2rem;
  margin: 0 5%;  
}